.blog {
  width: 100%;
  border: 1px solid black;
  padding: 1rem;
  margin: 0.35rem 0rem;
  display: flex;
  justify-content: space-between;
  transition: all 0.15s ease;
}

/* .blog:hover {
  transform: scale(1.005);
} */

.blog-desc {
  flex: 0.65;
}

.blog-delete {
  font-size: x-large;
  cursor: pointer;
  /* margin: 0.5rem; */
  /* padding: 0.5rem; */
  /* border: 1px solid black; */
  transform: rotate(0);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease;
  margin: 5px 10px;
}

/* .blog-delete:hover {
  background-color: rgba(107, 2, 2, 0.76);
  color: white;
  transform: scale(1.1);
} */

.blog-delete:hover {
/* transform: scale(2); */
  background-color: rgba(107, 2, 2, 0.76);
  color: white;
  animation-name: shake ;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes shake {
  25% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.blog-desc > h1 {
  color: #284b63;
}

.blog-desc > span {
  color: #999999;
  display: block;
}

.blog-img {
  flex: 0.33;
  width: 250px;
  height: 180px;
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-clip: content-box;
  cursor: pointer;
}
